@page
@model SimpleToDoList.Pages.IndexModel

<div class="row">
	<div class="col-md-6">
		<h2 class="text-left">Register</h2>

		<div class="jumbotron">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Username">User Name</label>
                    <input type="text" name="Username" asp-for="Username" class="form-control input-sm" autocomplete="off" placeholder="User Name">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Mobile">Mobile</label>
                    <input type="text" name="Mobile" autocomplete="off" asp-for="Mobile" class="form-control input-sm" placeholder="Mobile">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FullName">Full Name</label>
                    <input type="text" name="FullName" asp-for="FullName" autocomplete="off" class="form-control input-sm" placeholder="Full Name">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NationalCode">National Code</label>
                    <input type="number" name="NationalCode" asp-for="NationalCode" autocomplete="off" class="form-control input-sm" placeholder="National Code">
                    <span asp-validation-for="NationalCode" class="text-danger"></span>
                </div>

                <button type="submit" value="Register" asp-page-handler="Register" class="btn btn-info btn-block">Register</button>
            </form>
		</div>
	</div>

	<div class="col-md-6">
		<h2 class="text-left">Login</h2>

		<div class="jumbotron">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<form method="post">
				<div class="form-group">
					<label asp-for="Username">User Name</label>
					<input type="text" name="Username" asp-for="Username" class="form-control input-sm" autocomplete="off" placeholder="User Name">
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Password">Password</label>
					<input type="password" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" placeholder="Password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<input type="hidden" asp-for="@Model.AccountId" />
				<button type="submit" value="Login" asp-page-handler="Login" class="btn btn-info btn-block">Login</button>
			</form>
		</div>
	</div>
</div>
